.login-form {
  margin-top: 10%;
  margin-bottom: 10%;
}

.footer {
  text-align: center;
  color: #575757;
  background-color: #f7f7fa;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
}